/* Common Styles */
.coinsnap-bitcoin-donation-form {
  margin: 20px auto;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.narrow-form {
  /* max-width: 220px;
  padding: 30px; */
  max-width: 268px;
  padding: 42px 30px;
}

.narrow-form .currency-swapper {
  width: 32%;
}

.coinsnap-bitcoin-donation-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.coinsnap-bitcoin-donation-form input {
  width: 100%;
  padding: 8px !important;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px !important;
  box-sizing: border-box;
}

.coinsnap-bitcoin-donation-form button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #6393c7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  display: flex
}

.coinsnap-bitcoin-donation-form button:hover {
  transition: 250ms;
  background-color: #f7a70a;
}

/* Light Theme */
.coinsnap-bitcoin-donation-light-theme {
  background-color: #f2f2f2 !important;
  color: #333333 !important;
}

.coinsnap-bitcoin-donation-light-theme input {
  background-color: #f9f9f9 !important;
  border: 1px solid #ddd !important;
  color: #333 !important;
}

.coinsnap-bitcoin-donation-light-theme textarea {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  color: #333;
}

.coinsnap-bitcoin-donation-light-theme textarea:focus {
  /* border: 2px solid #5e5ad6d8 !important; */
  background-color: #f9f9f9;
}

/* Dark Theme */
.coinsnap-bitcoin-donation-dark-theme {
  background-color: #2c2c2cf7 !important;
  color: #f1f1f1 !important;
}

.coinsnap-bitcoin-donation-dark-theme input {
  background-color: #3a3a3a !important;
  border: 1px solid #555 !important;
  color: #f1f1f1 !important;
}

.coinsnap-bitcoin-donation-dark-theme textarea {
  background-color: #3a3a3a !important;
  border: 1px solid #555 !important;
  color: #f1f1f1 !important;
}

.coinsnap-bitcoin-donation-message {
  width: 100%;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  box-sizing: border-box;
  min-height: 30px !important;

}

.narrow-form .coinsnap-bitcoin-donation-message {
  min-height: 100px !important;
}

.coinsnap-bitcoin-donation-title-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}

.wide-form .coinsnap-bitcoin-donation-title-wrapper {
  padding-left: 30px;
  padding-right: 30px;
  width: auto !important;
}

.coinsnap-bitcoin-donation-title-wrapper h3 {
  font-weight: bold;
  margin: 0;
  max-width: 67%;
  /* color: #f7a70a; */
}

.coinsnap-bitcoin-donation-dark-theme h3 {
  color: white !important;
}

/* Multi amount */

.amount-wrapper {
  position: relative;

}

.multi-form {
  max-width: 280px;
  padding: 32px 34px 42px 34px;
  display: flex;
  flex-direction: column;
}

.secondary-amount {
  position: absolute;
  top: 10px;
  right: 9px;
  font-size: 11px;
  color: #9d9d9d;
  user-select: none;
  z-index: 999;
}

.snap-button {
  width: 31% !important;
  margin-top: 8px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.snap-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.snap-title-container {
  display: flex;
  justify-content: center;
}

.snap-title-container h4 {
  font-weight: bold;
  font-size: 16px !important;
  margin-bottom: 4px;
  margin-top: 8px;

}

.snap-secondary-amount {
  font-size: 10px;
  font-weight: 300;
}

.snap-primary-amount {
  font-size: 12px;
}

.currency-swapper {
  padding: 4px 8px !important;
  border: 1px solid #e2e8f0 !important;
  border-radius: 6px !important;
  background-color: #f7f7f7 !important;
  font-size: 12px !important;
  font-weight: 500;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path fill="black" d="M7 10l5 5 5-5H7z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  color: #1a202cc6;
  cursor: pointer;
  width: 31%;
  text-align: center;
  margin: 0;
}

.currency-swapper:hover {
  border-color: #cbd5e0;
  background-color: #f7fafc;
}

.currency-swapper:focus {
  outline: none;
  border-color: #4299e1;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.2);
}

.coinsnap-bitcoin-donation-dark-theme .currency-swapper {
  background-color: #3a3a3a !important;
  border: 1px solid #555 !important;
  color: #f1f1f1 !important;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path fill="white" d="M7 10l5 5 5-5H7z"/></svg>');

}

.coinsnap-bitcoin-donation-dark-theme .currency-swapper:hover {
  background-color: #4a4a4a !important;
  border: 1px solid #555 !important;
  color: #f1f1f1 !important;
}

.qr-container h4 {
  margin-bottom: 0px;
}

.qr-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 58px 28px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 99999;
  border-radius: 8px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 340px;
  gap: 12px;
}

.qr-container img {
  max-width: 200px !important;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: black;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.qr-amount {
  font-weight: bold;
}

.qr-lightning-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  color: #3d3d3d;
  font-size: 14px !important;
}

.qr-address-title {
  font-weight: bold;
  text-align: left;
  color: #3d3d3d;

}

.qr-copy-icon {
  cursor: pointer;
}

.qr-copy-icon:hover {
  transition: 0.3s;
  stroke: #555555;
}

.qr-help-text {
  width: 300px;
  color: #9d9d9d;
}

.end-text {
  text-align: right;
  color: #585858;
}

.qr-summary {
  cursor: pointer;
  color: #3498db;
  display: none;
  user-select: none;
  gap: 4px;
  justify-content: center;
  align-items: center;
  font-size: 14px !important;
}

.qr-details[open] .qr-lightning-container {
  animation: slideDown 0.3s ease-out forwards;
}

.qr-details .qr-lightning-container {
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.qr-details[open] .qr-dropdown {
  transform: rotate(180deg);
}

.qr-dropdown {
  display: inline-block;
  font-size: 8px;
}

@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
  }

  to {
    max-height: 100px;
    opacity: 1;
  }
}

.qr-address-wrapper {
  display: flex;
  flex-direction: column;

}

.qr-pay-in-wallet {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #6393c7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  display: none
}

.qr-fiat {
  color: #585858;
  margin-bottom: 2px;
  display: none;
  font-size: 14px !important;
}

.qr-code-btc {
  display: none;
  width: 42px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#thank-you-popup {
  display: none;
  flex-direction: column;
  justify-content: center;
}

.checkmark-img {
  display: flex;
  width: 120px;
}

.check-results {
  border: none;
  padding: 2px 8px;
  border-radius: 3px;
  color: #3d3d3d;
  outline: 1px solid rgba(61, 61, 61, 0.5);
  background-color: #f2f2f2;
  cursor: pointer;
}

.check-results:hover {
  background-color: #dadada;
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.return-button {
  height: 18px;
  border: none;
  padding: 0px 12px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
  color: #3d3d3d;
  outline: 1px solid rgba(61, 61, 61, 0.24);
  background-color: #f2f2f2;
  cursor: pointer;
}

.return-buton-visible {
  display: flex !important;
}

.return-button-hidden {
  display: none !important;
}

.return-button:hover {
  background-color: #dadada;
  transition: 0.3s;
}

.dark-theme .qr-lightning-container,
.dark-theme .qr-address-title {
  color: #f2f2f2;
}

.dark-theme .qr-container {
  background-color: #2c2c2c;
  color: white;
}

.dark-theme .check-results,
.dark-theme .end-text,
.dark-theme .qr-amount,
.dark-theme .qr-fiat,
.dark-theme h3,
.dark-theme h4,
.dark-theme .close-popup {
  color: white;
}

.dark-theme .check-results,
.dark-theme .return-button {
  background: #3a3a3a;
  color: white;
}

.dark-theme .check-results:hover,
.dark-theme .return-button:hover {
  background: #4a4a4a;
}

.blur-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.public-donor-popup {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  margin: 0px 24px;
}

.payment-loading {
  display: none;
}

.payment-popup {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qr-container .public-donor-popup .public-donor-form input {
  margin-bottom: 16px !important;
}

.thank-you-popup {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.error {
  border: 2px solid #ff4444 !important;
}

.opt-out-wrapper {
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.opt-out-wrapper input {
  width: 10% !important;
}

.opt-out-wrapper label {
  font-weight: normal;
}

.qr-container button {
  width: 100% !important;
}

.public-donor-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coinsnap-bitcoin-donation-pagination {
  text-align: right;
  margin-top: 12px;
}

.coinsnap-bitcoin-donation-pagination .current {
  color: #3498db;
}

.address-grid {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.address-row {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.qr-container .public-donor-popup .public-donor-form .address-row input {
  margin-bottom: 0px !important;
}